# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
package-lock.json

# Coverage directory used by tools like istanbul
coverage/
*.lcov

# Output of 'npm pack'
*.tgz

# Build directory
build/
dist/

# dotenv environment variables file
.env

# Parcel cache
.cache/
.parcel-cache

# VS Code directory and files
.vscode/
.history/
.idea/
.DS_Store

# macOS files
*.DS_Store

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file systems like NTFS
$RECYCLE.BIN/

# Temporary file storage
*.tmp
*.swp
*.swo

# IDE files
.vscode/
*.sublime-project
*.sublime-workspace

# SASS cache
.sass-cache/

# Debug
debug.log

lawgical-434119-a1fe48c03dfa.json
server/i-129/
